### Library Loading

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns

### NA, Value Check

In [29]:
df1 = pd.read_csv('data1.csv', index_col= False)
df1.isna().sum()

订单号     0
设备ID    0
应付金额    0
实际金额    0
商品      0
支付时间    0
地点      0
状态      0
提现      0
dtype: int64

In [30]:
df2 = pd.read_csv('data2.csv', index_col=False)
df2.isna().sum()

商品     0
大类     0
二级类    0
dtype: int64

In [37]:
df1.sample(10)

,订单号,设备ID,应付金额,实际金额,商品,支付时间,地点,状态,提现
6181,DD2017081674930418470069710485,E43A6E078A04172,4.5,4.5,52g旺旺仙贝,2017/4/24 18:05,A,已出货未退款,已提现
21225,DD201708167493446128401232148,E43A6E078A04172,3.0,3.0,58g丽芝士纳宝帝奶酪威化饼干,2017/7/21 15:59,A,已出货未退款,已提现
57057,DD20170729100247593A10066EA2D,E43A6E078A04134,3.0,3.0,统一冰红茶,2017/11/19 10:28,B,已出货未退款,已提现
39229,DD20170710171636344184FF0B88E,E43A6E078A04228,4.0,4.0,银鹭八宝粥,2017/10/7 1:29,C,已出货未退款,已提现
32500,DD2017062507261118A319DEAAAEB,E43A6E078A07631,2.0,2.0,鸭翅,2017/9/15 23:14,D,已出货未退款,已提现
36351,DD20170816749318639978711189,E43A6E078A06874,7.0,7.0,145g果王迷你山楂包装,2017/9/27 9:19,E,已出货未退款,已提现
24484,DD201708231710588549B27BA8B48,E43A6E078A04228,3.0,3.0,怡宝纯净水,2017/8/9 20:53,C,已出货未退款,已提现
56935,DD201707242217297941DC22A7FEC,E43A6E078A06874,5.0,5.0,王老吉（500ml）,2017/11/19 8:37,E,已出货未退款,已提现
37051,DD201708167493230694055121983,E43A6E078A06874,3.0,3.0,250ml维他原味豆奶,2017/9/29 2:01,E,已出货未退款,已提现
49493,DD2017081674930739241930418546,E43A6E078A04134,5.5,5.5,430g泰奇八宝粥,2017/11/5 16:08,B,已出货未退款,已提现

In [32]:
df2.sample(10)

                  商品   大类       二级类
100           脉动（青柠）   饮料      功能饮料
94         劲仔小鱼（麻辣味）  非饮料  肉干/豆制品/蛋
293         拿铁咖啡（统一）   饮料        咖啡
101       脉动（椰子菠萝口味）   饮料      功能饮料
134  新麦潮天然酵母面包（牛奶风味）  非饮料      饼干糕点
103       咪咪虾条马来西亚风味  非饮料      膨化食品
196    34g公仔迷你杯风味排骨味  非饮料      方便速食
267        百事可乐330ml   饮料      碳酸饮料
288               秒充  非饮料        其他
62    68g多力多玉米片爆香热辣味  非饮料      膨化食品

In [54]:
data = pd.merge(df1, df2, on = '商品')
data['支付时间'] = pd.to_datetime(data['支付时间'], errors='coerce', format='%Y/%m/%d %H:%M')
data = data.dropna(subset=['支付时间'])
path = 'merged_data1.csv'
data.to_csv(path, index = False)

In [43]:
np.unique(data.状态)

array(['已出货未退款'], dtype=object)

In [44]:
np.unique(data.设备ID)

array(['E43A6E078A04134', 'E43A6E078A04172', 'E43A6E078A04228',
       'E43A6E078A06874', 'E43A6E078A07631'], dtype=object)

In [46]:
data[data.应付金额 != data.实际金额]

Empty DataFrame
Columns: [订单号, 设备ID, 应付金额, 实际金额, 商品, 支付时间, 地点, 状态, 提现, 大类, 二级类]
Index: []

In [49]:
Eq28 = data[data.设备ID == 'E43A6E078A04228']
path = 'task1-1C.csv'
Eq28.to_csv(path, index = False)

In [50]:
Eq74 = data[data.设备ID == 'E43A6E078A06874']
path = 'task1-1D.csv'
Eq74.to_csv(path, index = False)

In [51]:
Eq31 = data[data.设备ID == 'E43A6E078A07631']
path = 'task1-1E.csv'
Eq31.to_csv(path, index = False)